@import "./variables.scss";

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  color: $color-text;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-main;
}

main {
  flex-grow: 1;
  min-height: 100vh;
}
.hdfZym {
  padding-left: 0px !important;
  width: 100%;
  height: 80%;
}
.sc-pVTFL.gjBeeL {
  width: 150px;
  height: 150px;
  justify-content: center;
}
.site-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}
.signup {
  border: 2px solid #109cf1;
  color: #109cf1;
  transition: all 0.4s ease;
}
.landing-header__btn {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  padding: 8px 15px;
  text-transform: capitalize;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header.navbar-default {
  background-color: $dark-color !important;
}
