// COLORS
$color-text: #505e5c;
$color-bgi: #9eb3ae;
$main-bgi: #f8fffd;
$light-green: #e2fff0;
$green-cl: rgb(233, 69, 96);
$primary-color: #f1fffb;
$secondary: #707070;
$dark-cl: #333333;
$border: #DEE2C6;
$grey-cl: #6e6e6e;
$dark-color: #343A40;

// FONTS
$font-roboto: 'Roboto', sans-serif;
$font-main: 'Nunito', sans-serif;
