@import "../mixins.scss";
@import "../variables.scss";

.cardd {
  width: 100%;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: -8px;
  margin-bottom: -8px;
}

.box-cardd {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid $border;
  text-align: center;
  margin-right: 0 !important;
  width: calc(25% - 15px) !important;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }
}

.head-card {
  margin-bottom: 20px;
}

.head-card__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.body-card__title {
  margin-bottom: 6px;
  font-size: 16px;
  color: $green-cl;
}

.body-card__price {
  color: $grey-cl;
}
