@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@import "https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css";
@import "https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css";
@import "assets/css/default/app.min.css";

.signup {
  border: 2px solid #109cf1 !important;
  color: #109cf1 !important;
  transition: all 0.4s ease !important;
}
.landing-header__btn {
  background-color: transparent;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 15px;
  text-transform: capitalize;
}
iframe {
  position: relative !important;
}
