@import "../mixins.scss";
@import "../variables.scss";

.cardd {
  padding: 30px 15px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
.with-btn {
  display: flex;
}
.box-cardd {
  border-radius: 20px;
  padding: 20px;
  border: 1px solid $border;
  text-align: center;
  width: 25%;
  margin-right: 20px;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.7;
  }

  &:last-child {
    margin-right: 0;
  }
}

.head-card {
  margin-bottom: 20px;
}

.head-card__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.body-card__title {
  margin-bottom: 6px;
  font-size: 16px;
  color: $green-cl;
}

.body-card__price {
  color: $grey-cl;
}
